#validateInputBox {
	color: red;
}

#validateButton {
	color: red;
	display: inline;
}

#validateOutputSex {
	color: red;
}

#validateOutputDayOfBirth {
	color: red;
	display: inline;
}

#validateOutputMonthOfBirth {
	color: red;
	display: inline;
}

#validateOutputYearOfBirth {
	color: red;
	display: inline;
}

#validateOutputCountryOfBirth {
	color: red;
	display: inline;
}

#generateInputDayOfBirth {
	color: red;
}

#generateInputMonthOfBirth {
	color: red;
	display: inline;
}

#generateInputYearOfBirth {
	color: red;
	display: inline;
}

#generateInputCountryOfBirth {
	color: red;
	display: inline;
}

#generateInputSex {
	color: red;
	display: inline;
}

#generateButton {
	color: red;
}

#generateOutputBox {
	color: red;
}

#generateFirstName {
	color: red;
	display: inline;
}

#generateSecondName {
	color: red;
	display: inline;
}
