#vButton {
	display: inline;
}

#vDoB {
	display: inline;
}

#vMoB {
	display: inline:
}

#vYoB {
	display: inline;
}

#vCoB {
	display: inline;
}

#iSex {
	display: inline;
}


#iDoB {
	display: inline;
}

#iMoB {
	display: inline;
}

#iYoB {
	display: inline;
}

#iCoB {
	display: inline;
}

#gButton {
	display: inline;
}

#gNiNbox {
	display: inline;
}

#gFirstName {
	display: inline;
}

#gSecondName {
	display: inline;
}
